* {
	font-size: 18px;
}

body {
	margin: 0 auto;
}

span {
	display: inline-block;
	line-height: 40px;
	width: 200px; 
}
button {
	height: 40px;
	width: 190px;
	


}

.counters {
	height: 300px;
	display: flex;
	flex-direction: column;
	padding: 0 50px;
}

.counter {
	display: flex;
    justify-content: space-between;
    height: 150px;
    padding-top: 55px;
}